<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWBORN</title>

    <link rel="stylesheet" href="/styles/styles.css"> 
</head>

<body>
    <header>
        <div class="aside-column-layout">
            <img src="/images/newborn-logo-small.png" alt="small newborn company logo" class="logo-image">
        </div>
    </header>
    
