<%- include("partials/header.ejs") %>

<main class="container">
    <section class="hero">
        <p>Maecenas id volutpat enim, id rhoncus lorem. Fusce tincidunt orci nec tortor lacinia aliquam quis nec lacus. Ut vehicula hendrerit neque eget tincidunt. Praesent cursus purus ligula, ac dignissim arcu tempus ac. Nulla facilisi. In varius pharetra enim at interdum. Nunc porttitor augue eu cursus maximus. Donec tristique elit at purus auctor, rutrum hendrerit libero dapibus. Morbi sit amet nunc dui. Quisque est nibh, rutrum et rhoncus id, consectetur nec libero. Cras rutrum id ex sollicitudin bibendum. Aenean accumsan risus nec odio efficitur, non cursus nulla egestas. Vestibulum interdum faucibus nibh, et molestie orci aliquam nec. Ut vitae rhoncus nulla.</p>
    </section>

    <section class="logo">
        <img src="/images/newborn-logo.png" alt="newborn company logo" class="logo-image">
    </section>
</main>

<%- include("partials/footer.ejs") %>